<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>

<body>
    {{>navbar}}
    {{!-- hero section start --}}
    <div class="container-fluid mt-5 about-style" id="serviceid">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                {{!-- <h1 class="text-center main-heading">Blogs</h1> --}}
                <a class="text-center  btn-style btn-primary" href="/postblog">Add new blog</a>
                <p class="text-center sub-heading py-5">Don’t focus on having a great blog. Focus on producing a blog
                    that’s great for your readers. <span class="bold-style">~Brian Clark</span></p>

                <div class="row">
                    {{#if post}}
                    {{#each post}}
                    <div class="col-md-4">
                        <div class="box">
                            <div class="our-services settings blogs-details">
                                <div class="">
                                    <img src="img/bird1.jfif" alt="blog post" class="img-wdth-height">
                                </div>
                                <h4>{{this.title}}</h4>
                                {{!-- helper function for thirty length for title 608c3c89a7a16e31c4dad3c7--}}
                                <p>{{twentyCharaterString blog}}<span class="bold-style"><a
                                            href="/blogdetail/{{this._id}}">Read
                                            more</a></span></p>
                                {{!-- <button class="btn-style btn-primary">Read more</button> --}}
                                <p class="author-name">~{{this.author}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    {{/if}}

                </div>
            </div>
        </div>
    </div>


    <script src="../jq/jquery.js" type="text/javascript"></script>
    <script src="../js/bootstrap.js" type="text/javascript"></script>

</body>

</html>